In [4]:
from collections import namedtuple, defaultdict
from typing import NamedTuple
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib as mpl
mpl.rcParams["figure.dpi"] = 300



Result = namedtuple('Result', ['partisans', "sims"])
Sim = NamedTuple("Sim", [("mean_t_diff", int)])

In [7]:
fname = 'output/bigexperiment-opponents-nomean-2022_10_05-10_33_38.log'

In [17]:
import json
results_by_partisan = defaultdict(list[Sim])

rows = []
with open('../' + fname, 'r') as f:
    for line in f:
        d = json.loads(line)

        rows.append(d)
        results_by_partisan[d['partisans']].append(Sim(d['mean_t_diff']))

results = [Result(k, v) for k, v in results_by_partisan.items()]
results.sort(key=lambda x: x.partisans)

df = pd.DataFrame(rows)
df.describe()

        partisans  mean_t_diff    run
count  100.000000    99.000000  100.0
mean     0.495000   111.132706    0.0
std      0.290115   153.797077    0.0
min      0.000000   -17.196286    0.0
25%      0.247500    24.161164    0.0
50%      0.495000    63.766304    0.0
75%      0.742500   124.499136    0.0
max      0.990000   961.606061    0.0

In [18]:
df

    partisans  mean_t_diff  run
0        0.01    48.911111    0
1        0.00    15.664964    0
2        0.05    -7.928571    0
3        0.04   -12.927711    0
4        0.03     6.875000    0
..        ...          ...  ...
95       0.94   369.804124    0
96       0.92   338.213058    0
97       0.97   675.101010    0
98       0.98   961.606061    0
99       0.99          NaN    0

[100 rows x 3 columns]

In [21]:
df.groupby('partisans').mean_t_diff.mean().to_frame()

           mean_t_diff
partisans
0.00         15.664964
0.01         48.911111
0.02        117.695652
0.03          6.875000
0.04        -12.927711
...                ...
0.95        396.489796
0.96        356.846939
0.97        675.101010
0.98        961.606061
0.99               NaN

[100 rows x 1 columns]